<form class="order-form" ng-submit="$ctrl.orderSubmit()">
	<header>
		<h3 class="order-form__title">
			<svg ng-if="context !== 'callme' && !mobile" class="icon icon-cart">
				<use xlink:href="icons/icons.svg#cart"></use>
			</svg>
			Оформить заказ
		</h3>
	</header>
	<section class="order-form__body" ng-if="!state.complete && !state.loading">
		<ol class="order-form__list">
			<li 
				class="order-form__item" 
				ng-repeat="(key, product) in $ctrl.cartItems track by $index">
				<strong ng-if="products.length > 1"></strong>
				<span ng-bind="product.title"></span>
				<span ng-if="!!product.texture">модель <span ng-bind="product.texture"></span></span>
				<span ng-if="product.withCornice && product.cornice.cartText" ng-bind="' + ' + product.cornice.cartText"></span>
				{{!-- <span class="dimenstions" ng-if="!!product.allowHeight && !!product.dimensions.width && !!product.dimensions.height">
					({{product.dimensions.width}} см x {{product.dimensions.height}} см)
				</span> --}}
				{{!-- <span class="dimenstions" ng-if="!product.allowHeight && !!product.dimensions.width">
					({{product.dimensions.width}} cм)
				</span> --}}
				- <strong>
					<span ng-bind="product.price"></span> р.
				</strong><span ng-if="!product.priceExactly">/м<sup>2</sup></span>
			</li>	
		</ol>
		<input type="text" class="order-form__input" placeholder="Ваше имя" ng-model="order.name" ng-required="true" >
		<input type="tel" class="order-form__input" placeholder="Ваш телефон" ng-model="order.phone" ng-required="true" ng-focus="phoneFocus();">
	</section>
	<section class="order-form__body" ng-if="state.complete">
		<p>
			Ваш заказ отправлен!
			<br>
			Ожидайте звонка в назначенное время.
		</p>
	</section>
	<footer class="order-form__footer" ng-if="!state.complete && !state.loading">
		<p class="order-form__text" ng-if="(context !== 'callme') && (workingTime)">
			Наш менеджер перезвонит Вам для подтверждения заказа.
		</p>
		<p class="order-form__text" ng-if="(context !== 'callme') && (!workingTime)">
			Сегодня мы уже не работаем, но завтра наш менеджер
			обязательно перезвонит Вам для подтверждения заказа.
		</p>

		<label class="order-form__policy-agreement checkbox">
			<input
				type="checkbox"
				ng-model="policyAgreement.isChecked"
				name="confidencial_policy_agreement" />
			<span class="checkbox__check" >
				<svg class="icon icon-check"><use xlink:href="icons/icons.svg#check"></use></svg>
			</span>
			<span class="checkbox__label">Я прочитал и согласен с <a href="/#!/privacy" target="_blank"  class="policy-link">Политикой конфиденциальности</a></span>
		</label>

		<div class="order-form__call-title">Время звонка</div>
		<div class="order-form__time">
			<div dropdown-select="hours"
				dropdown-model="order.hour"
				dropdown-item-label="label">
			</div>
		</div>
		<div class="order-form__time">
			<div dropdown-select="minutes"
				dropdown-model="order.min"
				dropdown-item-label="label">
			</div>
		</div>
		<button class="btn btn_blue btn_big order-form__submit" ng-disabled="!policyAgreement.isChecked">Перезвоните мне</button>
	</footer>
</form>
