<!-- Cart dropdown -->
<div
    class="cart__dropdown" 
    ng-mouseenter="$ctrl.showDropdown()"
    ng-mouseleave="$ctrl.hideDropdown()"
    ng-class="{expanded : ($ctrl.cartItems.length>0 && $ctrl.dropdownVisible)}">
    <div class="cart__title">В корзине
        <ng-pluralize count="$ctrl.cartItems.length"
            when="{
                '0': 'ничего нет',
                '1': '{} отложенный товар:',
                '2': '{} отложенных товара:',
                '3': '{} отложенных товара:',
                '4': '{} отложенных товара:',
                'other': '{} отложенных товаров:'}">
        </ng-pluralize>
    </div>
    <div class="cart__list-wrapper">
        <div class="cart__list-holder js-customScroll">
            <ul class="cart__list">
                <li
                    ng-repeat="(key, product) in $ctrl.cartItems track by $index"
                    class="cart__item cart-product">
                        <img ng-src="{{product.image}}" class="cart-product__img" />
                        <div 
                            ng-bind="product.title"
                            class="cart-product__title">
                        </div>
                        <div class="cart-product__price">
                            <strong
                                ng-bind="product.price + 'р.'">
                            </strong>
                            <span ng-if="!product.priceExactly">/см<sup>2</sup></span>
                            <span 
                                class="cart-product__dimensions" 
                                ng-if="!!product.allowHeight && !!product.dimensions.width && !!product.dimensions.height">
                                (<span ng-bind="product.dimensions.width"></span> см x 
                                <span ng-bind="product.dimensions.height"></span> см)
                            </span>
                            <span class="cart-product__dimensions" ng-if="!product.allowHeight && !!product.dimensions.width">
                                ({{product.dimensions.width}} см)
                            </span>
                        </div>
                        <div 
                            class="cart-product__model" 
                            ng-if="!!product.texture">модель <span ng-bind="product.texture"></span>
                        </div>
                        <button class="cart-product__dismiss" ng-click="$ctrl.removeProduct(key)">
                            <svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
                        </button>
                </li>
            </ul>
        </div>
    </div>
    <footer class="cart__footer">
        <button 
            class="cart__phone-button btn btn_green" 
            ng-click="$ctrl.openOrder()">
            Оформить заказ
        </button>
    </footer>
</div>