<!-- Main content -->
<main class="main-content">
    <!-- Image gradient -->
    <div class="image-gradient">
        <div
            class="image-gradient__image"
            style="background-image: url('{{catalog.slider_img}}')">
        </div>
    </div>

    <div class="container container_padding">
        <!-- Heading -->
        <div class="search-info search-info_marged">
            <h1 class="search-info__header">Каталог штор и жалюзи</h1>
        </div>
    </div>
    <div class="container container_padding">
        <!-- Catalog -->
        <div class="catalog catalog_4">
            <ul class="catalog__list">
                <li class="catalog__item">
                    {{>categoryItem}}
                </li>
            </ul>
        </div>
    </div>
</main>
