<div class="dialog hide js-dialog-{{state}}">
	<div 
		class="dialog__closer js-close-{{state}}" 
		ng-click="CloseDialog();"></div>
	<div class="dialog__content dialog__content_{{state}}" ng-class="{picture: !!picture}">
		{{!-- <div ng-include="'views/directives/search.html'" ng-if="state === 'search'"></div> --}}
		{{#if window}}
		<div class="dialog__window">
			<button class="dialog__close js-close-{{state}}">
				<span class="icon icon-close-png"></span>
			</button>
		{{/if}}
			{{#if search}}
			{{>dialogs/search}}
			{{/if}}
			{{#if feedback}}
			{{>dialogs/feedback}}
			{{/if}}
			{{#if order-form}}
			{{>dialogs/order-form}}
			{{/if}}
		{{#if window}}
		</div>
		{{/if}}
	</div>
</div>
