<div class="dialog">
	<div class="dialog__closer" ng-click="CloseDialog();"></div>
	<div class="dialog__content dialog__content_{{state}}" ng-class="{picture: !!picture}">
		{{!-- <div ng-include="'views/directives/search.html'" ng-if="state === 'search'"></div> --}}
		{{#if search}}
		{{>dialogs/search}}
		{{/if}}
		<div class="dialog__window" ng-show="state !== 'search'">
			<button class="dialog__close" ng-click="CloseDialog()">
				<span class="icon icon-close-png"></span>
			</button>
			{{#if picture}}
			<img class="dialog__image" ng-src="{{picture}}">
			{{/if}}
			<div ng-include="'views/directives/order-form.html'" ng-if="(state === 'order') || (state === 'callme') || (state === 'oneclick')"></div>
			{{!-- <div ng-include="'views/directives/feedback.html'" ng-if="state === 'feedback'"></div> --}}
			{{#if feedback}}
			{{>dialogs/feedback}}
			{{/if}}
		</div>
	</div>
</div>