<div class="gallery">
    <!-- Title -->

    {{>breadcrumbs}}
    <div class="gallery__title" itemprop="name">
        <h1>
            {{productPage.title}}
        </h1>
        <span class="gallery__title-model">модель 4077 - красный</span>
    </div>
    <!-- Main img -->
    <div class="gallery__container">
        <div
            style="background-image: url('img/static/gallery(1).jpg'); opacity: 1;"
            class="gallery__main-img">
        </div>
        <img src="img/static/gallery(1).jpg" alt="" itemprop="image" style="display: none"/>
        <div class="gallery__controls">
            <button class="gallery__button left" ng-click="moveGallery(-1)">
                <svg class="icon icon-shevron-left">
                    <use xlink:href="icons/icons.svg#shevron-left"></use>
                </svg>
            </button>
            <button class="gallery__button right" ng-click="moveGallery(1)">
                <svg class="icon icon-shevron-right">
                    <use xlink:href="icons/icons.svg#shevron-right"></use>
                </svg>
            </button>
        </div>
    </div>

    <!-- List -->
    <ul class="gallery__list">
        <li
            class="gallery__item">
            <input
                type="radio"
                value="1"
                checked="checked"
                class="gallery__input"
                id="galleryItem-1">
            <label
                style="background: url('img/static/gallery(1).jpg') center no-repeat; background-size: cover;"
                class="gallery__item-img"
                for="galleryItem-1">
            </label>
        </li>
        <li
            class="gallery__item">
            <input
                type="radio"
                value="1"
                checked="checked"
                class="gallery__input"
                id="galleryItem-2">
            <label
                style="background: url('img/static/gallery(2).jpg') center no-repeat; background-size: cover;"
                class="gallery__item-img"
                for="galleryItem-2">
            </label>
        </li>
        <li
            class="gallery__item">
            <input
                type="radio"
                value="1"
                checked="checked"
                class="gallery__input"
                id="galleryItem-3">
            <label
                style="background: url('img/static/gallery(3).jpg') center no-repeat; background-size: cover;"
                class="gallery__item-img"
                for="galleryItem-3">
            </label>
        </li>
    </ul>
</div>