<!-- Main menu green -->
<nav hider 
    data-scroll-class="hidden"
    class="main-menu main-menu_green main-menu_left">
    <a href="catalog.html" class="main-menu__title">
        Жалюзи
    </a>
    <ul class="main-menu__list">
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link active">
                Горизонтальные
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Алюминиевые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Пластиковые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Бамбуковые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Волна</a></li>
            </ul>
        </li>
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link">
                Вертикальные
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Алюминевые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Тканевые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Пластиковые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Бриз</a></li>
            </ul>
        </li>
        <li class="main-menu__item">
            <a href="catalog.html" class="main-menu__link">
                На окна ПВХ
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Горизонтальные</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Без сверления</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Недорогие</a></li>
            </ul>
        </li>
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link">
                Рулонные
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Тканевые</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Зебра</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Мини</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Уни</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">С фотопечатью</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--Main menu blue-->
    <nav hider 
        data-scroll-class="hidden"
        class="main-menu main-menu_blue main-menu_right">
    <a href="catalog.html" class="main-menu__title">
        Шторы
    </a>
    <ul class="main-menu__list">
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link active">
                Классические
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Ткани для штор</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Карнизы</a></li>
            </ul>
        </li>
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link">
                Римские
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Ткани для римских штор</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Карнизы</a></li>
            </ul>
        </li>
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link">
                Плиссе
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Гофре</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">День-ночь</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">На окна ПВХ</a></li>
            </ul>
        </li>
        <!-- <li class="main-menu__item">
            <a href="#!/catalog/Den_shtory-noch" class="main-menu__link">
                День-ночь
            </a>
        </li> -->
        <li class="main-menu__item">
            <a href="catalog.html" class="main-menu__link">
                Рулонные
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">День-ночь</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">На окна ПВХ</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Недорогие</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Кассетные</a></li>
            </ul>
        </li>
        <li class="main-menu__item with-sub">
            <a href="catalog.html" class="main-menu__link">
                Карнизы
            </a>
            <ul class="main-menu__list">
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Багетные</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Металлические</a></li>
                <li class="main-menu__item"><a href="catalog.html" class="main-menu__link">Деревянные</a></li>
            </ul>
        </li>
    </ul>
</nav>
