<div class="price-block" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="price-block__container">
        <!-- Old price -->
        <div class="price-block__old" ng-show="!!product.sale">
            <span>от 1 231р.<span>/м<sup>2</sup></span>
        </div>
        <!-- New price -->
        <div class="price-block__new">
            <strong>
                <span>от</span> {{productPage.price}} р.</strong><span>/м<sup>2</sup></span>
        </div>
        <span style="display:none;" itemprop="price">{{productPage.price}}</span>
        <span style="display:none;" itemprop="priceCurrency">RUB</span>
    </div>
    <!-- Description -->
    <p class="price-block__text">
        Стоимость зависит от выбора материала и размеров
    </p>
    <div class="price-block__label">
        <div class="price-block__label-text">
            -{{productPage.sale}}%
        </div>
    </div>
</div>