<!-- Seo -->
<div class="seo" ng-if="!!blockContent">
    <div class="container">
        <!-- Logo -->
        <img src="img/logo_footer.png" alt="Дизайн Окна" class="seo__logo hide-in-mobile">
        <div class="seo__container">
            Дизайн Окна — это производственная мастерская по современному оформлению окон. У нас за плечами: 8 лет опыта; 620 постоянных
            клиентов; 5000 выполненных заказов и десяток набитых шишек. Мы шьем шторы, производим жалюзи и карнизы, организовываем
            доставку и установку. Советуя, что лучше и практичнее, создавая простые вещи, мы делаем дом, квартиру или
            офис уютнее и еще более красивым, при этом вопрос прибыли уходит на второй план. Всегда. Нам нравится оказывать
            качественные услуги узкому кругу клиентов. Без суеты.
            <br>
            <a href="article.html">Подробнее о нас</a>
        </div>
    </div>
</div>